a
  -webkit-tap-highlight-color: rgba(0,0,0,0);

mainFont(weight = 700)
  font-family 'Athiti', 'Helvetica Thai', Helvetica, sans-serif
  font-weight weight
  font-style normal

titleFont(weight = 700)
  font-family 'Prompt', 'Helvetica Thai', Helvetica, sans-serif
  font-weight weight
  font-style normal

h1,h2,h3,h4
  mainFont()

.text-center
  text-align center
